
<div class="text-center">
<h1>All products of the store</h1>
</div>
<ul class="nav flex">
    {{#each productList}}
             <div class="card" style="width: 18rem;">
                  <img src="{{this.img}}" class="card-img-top" alt="No image">
                 {{#if this.promotion}}
                    <div class="spinner-grow" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                 {{else}}
                    <div class="spinner-grow text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                 {{/if}}
                  <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: {{this.price}} ₽</li>
                  </ul>
                  <div class="card-body">
                    <ul  >
                        <div class="btn-group me-5">
                            <a href="../product/{{this.id}}" class="btn btn-outline-dark">More...</a>
                        </div>
                </ul>
          </div>
        </div>
    {{/each}}
</ul>